@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

/* general styles */

h1, h2, h3 {
  font-family: Oswald,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: Lato,sans-serif;
  font-weight: 500
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

header {
  background-color: #fff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100vw;
  box-shadow: 0 2px 20px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525
}
header ul {
  text-size-adjust: 110%;
  letter-spacing: 4px;
  list-style: none;
  width: 700px
}
header li {
  margin-bottom: 1em
}
.active {
  border-bottom: 1px solid #3a3a3a
}
nav {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 20px #3a3a3a;
  display: none;
  top: 100%
}
#nav-toggle:checked ~ nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem
}
/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
/* styles icons */
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    

    #menu {
        display: flex;
        right:0;
    }

    #menu > li {
        padding-left: 1rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 300px;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
    #cover-text{
      width:400px;
      right:50px;
    }
    
  }

  /*Reasons styling */
  #reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
  }

  #benefits div {
    line-height:20px;
    margin-bottom: 20px;
  }

  #benefits p {
    padding: 0 20px;
  }

  #benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
  }

  #reasons h3 {
    display: inline-block;
  }

  #reasons {
    margin: 20px auto;
    width: 90%;
  }

@media (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}