/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    color:#3a3a3a;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index:99;
    width:100vw;
    box-shadow: 0 2px 20px #3a3a3a;
    display:flex;
    justify-content:space-between;
    align-items:baseline;
}
/* Gets rid of hyperlink underlines in header */
header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
/* list-style: none removes bullets from list in header */
 header ul {
    text-size-adjust:110%;
    letter-spacing: 4px;
    list-style: none;
    width:70px
     }
/* spaces out list items in header */
header li{
    margin-bottom:1em;
}
/* underline for active page link in header */
.active {
    border-bottom: 1px solid #3a3a3a;
}
nav{
    position:absolute;
    background-color: #ffffff;
    width:100vw;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 20px #3a3a3a;
    display:none;
    top:100%
}
/*nav toggle */
#nav-toggle:checked~nav{
    display:block;
}

#nav-toggle{
    display:none;
}
.nav-toggle-label{
    font-size: 2rem;}
    /* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}
